@import './mixins';

$editionColors: (
  namedEntities: (
    personBase: #fff0f1,
    personMiddle: #fff0f2,
    personDarker: #ffcdd2,
    placeBase: #eef7ef,
    placeMiddle: #c8e6c9,
    placeDarker: #a5d6a7,
    orgBase: #ffe9c9,
    orgMiddle: #ffcc80,
    orgDarker: #ffb74d,
    eventBase: #fffdc9,
    eventMiddle: #ffffb0,
    eventDarker: #fcfc60
  ),
  commentNotes: rgb(87, 14, 105),
  criticalNotes: rgb(24, 70, 155),
  normalization: #69513a,
  normalizationBackground: #fffbf3,
  emendation: #934d4d,
  emendationBackground: #f99069,
  versesBackground: #800000,
  versesColor: #ffffff,
  versesBorder: #000000,
  highlightColor: #ffffcc
);

@function get-color($key) {
  @return map-fetch($editionColors, $key);
}

@function get-ne-color($key) {
  @return get-color(namedEntities $key);
}
