.full-height {
  height: 100%;
}

::ng-deep .openseadragon-canvas {
  background: #000 !important;
}

::ng-deep .openseadragon-message {
  background: url('/assets%5Cimages%5Cempty-image.jpg') no-repeat !important;
  background-size: 100% 100% !important;
  z-index: 999999;
  position: relative !important;

  * {
    display: none;
  }
}
