:host {
  display: grid;
  max-width: 800px;
  align-content: flex-start;
  margin: auto;
  padding: 16px;
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.config-select {
  display: grid;
}
