<section class="header">
  <h4>{{ 'w3.title' | translate }}</h4>

  <button mat-icon-button (click)="closeDialog()"><mat-icon>close</mat-icon></button>
</section>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ 'w3.edition.title' | translate }}</mat-panel-title>
    </mat-expansion-panel-header>

    <evt-w3edition></evt-w3edition>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ 'w3.config.setConfigDirectory' | translate }}</mat-panel-title>
    </mat-expansion-panel-header>

    <evt-w3config></evt-w3config>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ 'w3.upload.title' | translate }}</mat-panel-title>
    </mat-expansion-panel-header>

    <evt-w3upload></evt-w3upload>
  </mat-expansion-panel>
</mat-accordion>
