@import '../../../assets/scss/themes';

.p-num {
  font-size: 0.8em;
  padding-right: 0.3rem;

  @include themify($themes) {
    color: themed('secondaryColorDark');
  }

  &::after {
    content: '.';
  }
}
