:host {
  display: grid;
  max-width: 800px;
  height: 100%;
  align-content: flex-start;
  margin: auto;
  padding: 10px 20px;
  gap: 8px;

  > div {
    display: grid;
  }
}

.title {
  margin-bottom: 20px;

  span {
    font-size: 14px;
    opacity: 0.8;
  }
}

.loading {
  display: grid;
  justify-items: center;
}

.space-selection {
  grid-template-columns: 1fr auto;
  gap: 8px;
}

.create-space-button {
  height: 56px;
}
