<div class="title">
  <h4>{{ 'w3.upload.title' | translate }}</h4>

  @if (isAccountReady) {
    <span>{{ 'w3.upload.loggedInAs' | translate }}: {{ account.toEmail() }}</span>
  }
</div>

@if (!isAccountReady) {
  <evt-w3login [isLoading]="isAuthenticating" (login)="login($event)"></evt-w3login>
}

@if (isAccountReady) {
  @if (!isCreatingSpace) {
    <div class="space-selection">
      <mat-form-field>
        <mat-label>{{ 'w3.upload.selectSpace' | translate }}</mat-label>
        <mat-select [formControl]="spacesDropdown">
          @for (space of spaces; track space.id) {
            <mat-option [value]="space.id">{{ space.space.name }} [{{ space.id }}]</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button mat-flat-button color="primary" class="create-space-button" (click)="openCreationDialog()">
        {{ 'w3.upload.create' | translate }}
      </button>
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="loadingSpinner; context: { text: 'w3.upload.creatingSpace' }"></ng-container>
  }
}

@if (currentSpace) {
  <div class="current-space">
    @if (directoriedOfSpace.length) {
      <div class="dir-list">
        <span>{{ 'w3.upload.directories' | translate }}</span>

        @for (directory of directoriedOfSpace; track directory.root.toString()) {
          <div class="dir-item">
            <mat-icon class="dir-icon">folder</mat-icon>

            <div class="dir-item-content">
              <a class="dir-item-title" [href]="buildGatewayURL(directory.root.toString())" target="_blank">{{
                directory.root.toString()
              }}</a>

              <span class="dir-item-subtitle">
                {{ 'w3.upload.created' | translate }} {{ directory.insertedAt | date }} --
                {{ 'w3.upload.updated' | translate }} {{ directory.updatedAt | date }}
              </span>
            </div>

            <button
              mat-icon-button
              aria-label="delete"
              class="dir-delete"
              [disabled]="isDeletingDirectory"
              (click)="deleteDirectory(directory)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }
      </div>
    }

    <input
      type="file"
      accept="application/json,application/xml"
      style="display: none"
      #fileInput
      (change)="onFilesSelected(fileInput.files)"
      multiple
    />

    <button mat-flat-button color="primary" (click)="openFilePicker()">{{ 'w3.upload.upload' | translate }}</button>
  </div>
}

<ng-template #loadingSpinner let-text="text">
  <div class="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span>{{ text | translate }}</span>
  </div>
</ng-template>
